html {
font-size: 14px;
}

@media (min-width: 768px) {
html {
font-size: 16px;
}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
position: relative;
min-height: 100%;
}

body {
margin-bottom: 60px;
}

/* The side navigation menu */
.sidebar {
margin: 0;
margin-top: 120px;
padding: 0;
width: 200px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

/* Sidebar links */
.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
background-color: #003078;
color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
background-color: #5694ca;
color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

a.navbar-brand{
OBOB  white-space: normal;
  text-align: center;
OB  word-break: break-all;
OB}
OB
OBa {
OBOB  color: #0077cc;
}
OBOB
OB.btn-primary {
OB  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
OB}
OB
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff
OB  background-color: #1b6ec2;
  border-color: #1861ac;
}

OB.border-top {
OB  border-top: 1px solid #e5e5e5;
}

.border-bottom{
OB  border-bottom: 1px solid #e5e5e5;
}
OB  
.box-shadow {
  box-shadow: 0.25rem .75rem rgba(0,0,0,0.5);
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
